.login {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  &__content {
    align-items: center;
    padding: 30px;
  }

  &__welcome {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  &__form {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
  }

  &__error {
    text-align: center;
    padding-bottom: 16px;
    color: red;
  }
}
