$white-color: #fff;
$black-color: #000;
$primary-color: #6097f8;
$accent-color: #f49741;
$war-color: #f4594e;
$muted-color: #8b8d8e;

$app-background-color: #1f2229;
$app-text-color: rgb(255, 255, 255, 0.87);

$card-background-color: #2b2e36;
$field-color: #353c46;

$border-radius: 4px;
